{{ define "main" }}
    {{ $daysGR := site.Data.translations.days }}
    {{ $day := .Params.day }}

    {{ $shows := slice }}
    {{ range .Site.Data.radio_shows }}
        {{ $time := index .schedule $day }}
        {{ if $time }}
            {{ $start := index (split $time " - ") 0 }}
    
            {{ if or (eq $start "00:00") (eq $start "01:00") }}
                {{ $start = "24:00" }}
            {{ end }}
    
            {{ $shows = $shows | append (dict "show" . "start" $start) }}
        {{ end }}
    {{ end }}
    
    {{ $sorted := sort $shows "start" "asc" }}
    

    <div style="max-width: 1200px; margin: auto; padding: 2rem;">
    <h2>{{ index $daysGR $day}}</h2>
    
    {{ if gt (len $sorted) 0 }}
        <ul>
            {{ range $sorted }}
                <li>
                    {{ index .show.schedule $day}} -
                    <strong>
                    <a href="{{ "shows/" | relURL }}{{ .show.id }}" class="link-text">
                        {{ .show.title }}
                    </a>
                </strong>
                </li>
            {{ end }}
        </ul>
    {{ end }}
    </div>
{{ end }}