<footer class="site-footer">
  <div class="footer-content content">
    <div class="footer-left">
      <a href="{{ "." | absURL }}">
        <img src="{{ "images/rrlogo-white.jpg" | absURL }}" alt="Radio Reboot Logo">
      </a>
    </div>

    <div class="footer-center">
      <ul class="footer-links">
        <li><a href="/program">Program</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/reboot-with-us">Reboot With Us</a></li>
      </ul>
    </div>

    <div class="footer-right">
      <a href="https://www.facebook.com/radioreboot.gr" target="_blank" rel="noopener" class="social-icon">
        <img src="{{ "images/fblogo.png" | relURL }}" alt="GitHub" />
      </a>
      <a href="https://www.instagram.com/radio.reboot/" target="_blank" rel="noopener" class="social-icon">
        <img src="{{ "images/iglogo.png" | relURL }}" alt="Twitter" />
      </a>
      <a href="https://www.mixcloud.com/RadioReboot/" target="_blank" rel="noopener" class="social-icon">
        <img src="{{ "images/mclogo.png" | relURL }}" alt="LinkedIn" />
      </a>
      <a href="mailto:radiorebootgr@gmail.com" target="_blank" rel="noopener" class="social-icon">
        <img src="{{ "images/mailogo.png" | relURL }}" alt="LinkedIn" />
      </a>
      
    </div>
  </div>
</footer>

<script src="{{ "js/theme-toggle.js" | relURL }}"></script>
