{{ define "main" }}

{{ $daysGR := site.Data.translations.days }}
{{ $weekdays := slice "Monday" "Tuesday" "Wednesday" "Thursday" "Friday" "Saturday" "Sunday" }}

<section class="content">
  <div id="main-weekly-schedule" class="row">
    <h2 class="weekly-schedule-header box">
      <span>🎤</span> Program
    </h2>
    <div class="weekly-schedule box row">
      {{ range $day := $weekdays }}
      <div class="day-schedule box">
      <a href="{{ "days/" | relURL  }}{{ lower $day }}" >
        <div class="day-button">{{ index $daysGR $day }}</div>
      </a>

      {{ $shows := slice }}
      {{ range site.Data.radio_shows }}
          {{ $time := index .schedule $day }}
          {{ if $time }}
              {{ $start := index (split $time " - ") 0 }}
      
              {{ if or (eq $start "00:00") (eq $start "01:00") }}
                  {{ $start = "24:00" }}
              {{ end }}
      
              {{ $shows = $shows | append (dict "show" . "start" $start) }}
          {{ end }}
      {{ end }}
      
      {{ $sorted := sort $shows "start" "asc" }}

      {{ if gt (len $sorted) 0 }}
      <div class="day-content">
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 1.5rem;">
          {{ range $sorted }}
          <a href="{{ "shows/" | relURL  }}{{ .show.id }}" style="text-decoration: none; color: #000">
          <div style="display: flex; align-items: center; min-width: 0;">
            <img src="{{ .show.image | relURL }}" alt="{{ .show.title }}" style="width: 60px; height: 60px; object-fit: cover; margin-right: 1rem;">
            <div style="min-width: 0;">
              <h6 style="
                font-size: clamp(0.8rem, 2vw, 1.1rem);
                margin: 0;
                max-width: 140px;
                overflow-wrap: break-word;
                word-break: break-word;
                white-space: normal;
              ">{{ .show.title }}</h6>
              <div style="color: #444;">{{ index .show.schedule $day}}</div>
            </div>
          </div>
          </a>
          {{ end }}
        </div>
      </div>
    {{ end }}
    </div>
    {{ end }}
    </div>
  </div>
</section>
{{ end }}
