{{ define "main" }}

<section class="main-top-row-content">
  <div class="main-top-row row content">
    {{ partial "now-on-air.html" . }}

    <div id="chat">
      <iframe
        src="https://tlk.io/rebootchat?theme=theme--minimal"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</section>

<section class="main-mid-bot-row-content">
  <div class="main-mid-bot-row row content">
    {{ partial "mixcloud.html" . }}
  </div>
</section>

<section class="main-last-row-content">
  <div class="main-last-row row content">
    {{ partial "carousel.html" . }}
  </div>
</section>
{{ end }}