{{ define "main" }}

<div class="main-top-row row">
  <!-- Carousel Column -->
  {{ partial "carousel.html" . }}

  <!-- Chat Column -->
  <div id="chat" class="box">
    <iframe
      src="https://tlk.io/rebootchat?theme=theme--minimal"
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
</div>

<section id="main-second-row" class="row">
    <!-- Left: Image -->
    <div class="left-image box">
      <img src="{{ "images/rrwr.png" | absURL  }}" alt="Radio Reboot WR">
    </div>
    <!-- Right: Facebook Feed -->
    <div class="right-fb box">
      <div>
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/radioreboot.gr&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
          frameborder="0" allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>
      </div>
    </div>
  </section>
  {{ partial "weekly-schedule.html" . }}
</main>
{{ end }}